.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
   
}

.tips {
    background-color:#e7f9f0; 
    padding: 5px 10px;
    margin-top: 15px;
}

.school-report-layout {
    position: relative;
}

.school-report-content {
    width: 720px;
    margin: 0 auto; 
    margin-top: 50px;
}

.school-report-dynamic {
    color: #214dff;
    font-size: 18px;
    margin: 0 10px;
}
.table-unit {
     border: 1px solid #d7d7d7;
     text-align: center;
     min-height: 30px;
     line-height: 30px;        
     padding: 0;
     font-size: 12px;
}