.instruction-book {
    width: 240px;
    height: 40px;
    margin-top: 10px;
    background-image: url(../../images/shuomingshu.png); 
    background-size:  contain;
}

.title {
    font-size: 14px;
    color: #333;
    padding: 20px 0 10px 0;
}

.thumbup {
    background-image: url(../../images/thumbup.png);
    background-size: contain; 
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.ul {
     padding-left: 0; 
     line-height: 23px; 
     list-style-type: none;
}
.question-dot:before {
    content: "• ";
    color: #999;
    font-size: 18px;
}
.question-item {
    display: block;
    min-height: 30px;
    line-height: 30px;
}
.banner-img {
    background-image: url(../../images/fx_banner.png);
    background-size: contain;
    width: 880px;
    height: 80px;
    display: block;
}

.video-img {
   background-image: url(../../images/fxVideoLink.png);
    background-size: contain;
    width: 230px;
    height: 173px;
    display: block; 
}

.video-img-hover {
   background-image: url(../../images/videoLinkHover.png);
    background-size: contain;
    width: 230px;
    height: 173px;
    display: block; 
}