p, div p {
    font-size: 14px;
    line-height: 22px;
}

/*  导航的标签页  */
.tab-ctn {
    margin: 15px 0 30px 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ececee;
}

.tab-ctn ul {
    overflow: hidden;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

.tab-ctn ul li {
    height: 40px;
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #24434f;
    cursor: pointer;
    border-top: 1px solid #ececee;
    border-right: 1px solid #ececee;
    border-bottom: 1px solid #ececee;
    border-radius: 3px 3px 0 0;
}

.tab-ctn ul:first-child{
    border-left: 1px solid #ececee;
    border-radius: 3px 3px 0 0;
}

.tab-ctn ul li.active {
    color: #000;
    background: #fff;
    border-bottom: 0;
}

.tab-ctn ul .fl {
    float: left;
    background: #fbfbfb;
}

.tab-ctn ul .last {
    float: right;
    margin-right: 30px
}
/*************************************************/