p, div p {
    font-size: 14px;
    line-height: 22px;
}

/*  导航的标签页  */
.tab-ctn {
    margin: 15px 0 30px 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
}

.tab-ctn ul {
    overflow: hidden;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

.tab-ctn ul li {
    height: 40px;
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #24434f;
    cursor: pointer;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-radius: 3px 3px 0 0;
}

.tab-ctn ul:first-child{
    border-left: 1px solid #eeeeee;
    border-radius: 3px 3px 0 0;
}

.tab-ctn ul li.active {
    color: #1daef8;
    background: #fff;
    border-bottom: 0;
}

.tab-ctn ul .fl {
    float: left;
    background: #fbfbfb;
    color:#333;
}

.tab-ctn ul .last {
    float: right;
    margin-right: 30px
}
/*************************************************/

/**********************提示框样式********************/
.tip-block {
    width: 320px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    position: relative;
    padding: 20px;
    font-size: 12px;
    color: #4d4d4d;
    text-align: left;
}

.tip-block:after, .tip-block:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}

/*内三角*/
.tip-block:after {
    border-width: 5px;
    border-bottom-color: #fff;
    left: 58%;
    top: -10px;
}
/* 外三角 */
.tip-block:before {
    border-width: 7px;
    border-bottom-color: #e7e7e7;
    left: 57.5%;
    top: -14px;
}

/****************************************************/

/*------------------bootstrap popover 自定义样式------------------------------*/
.popover-title{

}

.popover-content {
}

/*------------------bootstrap popover 自定义样式 end ------------------------------*/

/**------------------------dashboard card-----------------------------------------------*/
.dashboard-card {
    transition: all .2s linear;
}
.dashboard-card:hover {
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    transform: translate3d(0,-3px,0);
}
/**------------------------dashboard card end-----------------------------------------------*/

/*--------------------------animation -----------------------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
     from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*-------------------------------------*/
@-webkit-keyframes caretListDown {
     from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes caretListDown {
     from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}


.caret-list-down {
    -webkit-animation-name: caretListDown;
    animation-name: caretListDown;
}


@-webkit-keyframes caretListUp {
     from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes caretListUp {
     from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.caret-list-up {
    -webkit-animation-name: caretListUp;
    animation-name: caretListUp;
}


@-webkit-keyframes slideDown {
     from {opacity:0;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scaleY(.8);transform:scaleY(.8)}
     to{opacity:1;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scaleY(1);transform:scaleY(1)}
}

@keyframes slideDown {
    from {opacity:0;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scaleY(.8);transform:scaleY(.8)}
    to{opacity:1;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scaleY(1);transform:scaleY(1)}
}

.slide-down {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}

@-webkit-keyframes slideUp {
    from {opacity:1;-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transform:scaleY(1);transform:scaleY(1)}
    to{opacity:0;-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transform:scaleY(.8);transform:scaleY(.8)}
}
@keyframes slideUp {
    from {opacity:1;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(1);transform:scaleY(1)}
    to{opacity:0;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.8);transform:scaleY(.8)}
}
.slide-up {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}

.animated.caret-list-down,
.animated.caret-list-up,
.animated.slide-down,
.animated.slide-up
{
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
/*--------------------------animation end-----------------------------------------------------------*/
/* 下拉菜单*/
.ellipsis-title:hover:after {
    content: attr(data-title);
    position: absolute;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.85);
    padding: 3px 6px;
    color: #FFF;
    border-radius: 3px;
    left: 125px;
}

/*-------------------------------------分页自定义样式-----------------------------------------------------------*/
.pageLinkClassName{
    color:#333 !important;
}
.pageLinkClassName .active{
background-color: #fff !important;
color:#fff !important;
}
/*-------------------------------------分页样式end-----------------------------------------------------------*/
